<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
    <div id="navigation-main">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Home</a>
                </div>
                <div class="collapse navbar-collapse" id="mainNavigation">
                    <v:page.menu as="items" levels="4">
                        <ul class="nav navbar-nav">
                            <f:for each="{items}" as="item" iteration="menuIterator">
                                <li class="nav-item">
                                    <f:link.page pageUid="{item.uid}" class="nav-link {item.class}">
                                        {item.linktext}
                                    </f:link.page>
                                    <f:if condition="{item.hasSubPages}">
                                        <v:page.menu pageUid="{item.uid}" class="nav navbar-nav navbar-sub" />
                                    </f:if>
                                </li>
                            </f:for>
                        </ul>
                    </v:page.menu>
                    <v:page.languageMenu layout="flag" class="nav navbar-nav language-menu pull-right" hideNotTranslated="0" />
                </div>
            </div>
        </nav>
    </div>
</html>