<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
    <f:layout name="Full" />
    <f:section name="Content">
        <div id="content" class="panel">
            <div class="panel-body">
                <f:comment><!-- Breadcrumb --></f:comment>
                <f:render partial="Breadcrumb" arguments="{_all}"/>
                <h1 class="title">{data.title}</h1>
                <f:if condition="{data.subtitle}">
                    <h2 class="subtitle">{data.subtitle}</h2>
                </f:if>
                <f:format.raw>{content_main}</f:format.raw>
                <div class="clearer"></div>
            </div>
        </div>
    </f:section>
</html>